<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>Login</h2>
            <p><a routerLink="/customer/home">Home</a> &nbsp; / &nbsp; Login</p>

        </div>
    </div>
</section>
<!-- contact1 -->
<section class="w3l-contact-1 py-5">
    <div class="contacts-9 py-lg-5 py-sm-4">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <p class="mb-3">Don't Have An Account? <a routerLink="/customer-layout/register"></a></p>
                    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                        <div class="mb-3">
                          <input type="email" class="form-control" placeholder="Enter your email" aria-describedby="emailHelp" formControlName="email">
                          <small class="text-danger" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" >email is incorrect</small>
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
                          <small class="text-danger" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"  >password is incorrect</small>
                        </div>
                        <button type="submit" class="btn btn-outline-primary form-control my-4" [disabled]="loginForm.invalid">Submit</button>
                      </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>


