<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">

            <h2>Add Booking</h2>
            <p><a routerLink="/customer/home">Home</a> &nbsp; / &nbsp; Add Booking</p>

        </div>
    </div>
</section>
<section class="w3l-contact-1 py-5">
    <div class="contacts-9 py-lg-5 py-sm-4">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form [formGroup]="loginform" (submit)="login()">
                        <div class="mb-3">
                          <label class="form-label">Name:</label>
                          <input type="text" class="form-control"   formControlName = "name">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Contact:</label>
                          <input type="number" class="form-control"  formControlName = "contact" >
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Check in Date:</label>
                          <input type="date" class="form-control"   formControlName = "checkindate">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Check out Date:</label>
                          <input type="date" class="form-control"   formControlName = "checkoutdate">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">No.of People:</label>
                          <input type="number" class="form-control"   formControlName = "noofpeople">
                        </div>
                        <a class="btn btn-style btn-primary mb-5" routerLink="/customer/booking-history">Book</a>
                      </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>