<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">

            <h2>Booking History</h2>
            <p><a href="/customer/home">Home</a> &nbsp; / &nbsp; Booking History</p>

        </div>
    </div>
</section>
<section class="w3l-contact-1 py-5">
    <div class="contacts-9 py-lg-5 py-sm-4">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="add">
                      </div>
                      <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User</th>
                                    <th>Booking Name</th>
                                    <th>CreatedAt</th>
                                    <th>Room</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>User data</td>
                                    <td>Booking data</td>
                                    <td>time and date</td>
                                    <td>Room Detail</td>
                                    <td class="btn btn-style btn-primary " routerLink="">Cancel</td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
