<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">

            <h2>View Room</h2>
            <p><a routerLink="/customer/home">Home</a> &nbsp; / &nbsp; View Room</p>

        </div>
    </div>
</section>
<section class="w3l-feature-2">
    <div class="grid top-bottom py-5">
        <div class="container py-md-5">
            <h3 class="title-big text-center">Our Rooms are beautifully designed</h3>
            <div class="middle-section row mt-lg-5 pt-md-3">
                <div class="three-grids-columns col-lg-4 col-md-6">
                    <img src="assets/images/slide1.jpg" alt="" class="img-fluid">
                    <div class="info">
                        <h4><a href="#url"> Restaurant and Bar</a></h4>
                        <p>Vestibulum ante ipsum primis in orci luctus et ultrices posuere cubilia Curae; Nulla
                            mollis dapibus nunc.</p>
                        <a href="services.html" class="btn mt-4" routerLink="/customer/viewroom-detail">Read More </a>
                    </div>
                </div>
                <div class="three-grids-columns col-lg-4 col-md-6 mt-md-0 mt-4">
                    <img src="assets/images/slide2.jpg" alt="" class="img-fluid">
                    <div class="info">
                        <h4> <a href="#url"> Meetings and Events </a></h4>
                        <p>Vestibulum ante ipsum primis in orci luctus et ultrices posuere cubilia Curae; Nulla
                            mollis dapibus nunc.</p>
                        <a href="services.html" class="btn mt-4" routerLink="/customer/viewroom-detail">Read More </a>
                    </div>
                </div>
                <div class="three-grids-columns col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <img src="assets/images/slide3.jpg" alt="" class="img-fluid">
                    <div class="info">
                        <h4> <a href="#url"> Spa and Wellness </a></h4>
                        <p>Vestibulum ante ipsum primis in orci luctus et ultrices posuere cubilia Curae; Nulla
                            mollis dapibus nunc.</p>
                        <a href="services.html" class="btn mt-4" routerLink="/customer/viewroom-detail">Read More </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>