<!--w3l-header-->

<header class="w3l-header-nav">
	<!--/nav-->
	<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<img src="assets/images/hotels.png" alt="Your logo" style="height:35px;" /> Hotels</a>
			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav  ">
					<li class="nav-item ">
						<a class="nav-link" routerLink="/customer/home">Home</a>
					</li>	
					<li class="nav-item @@about__active">
						<a class="nav-link" routerLink="/customer/about">About</a>
					</li>.
					<li class="nav-item @@contact__active">
						<a class="nav-link" routerLink="/customer/viewroom">viewroom</a>
					</li>
					<li class="nav-item @@services__active">
						<a class="nav-link" routerLink="/customer/register" *ngIf="!isLogin">register</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" routerLink="/customer/contact">Contact</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" routerLink="/customer/booking-history" *ngIf="isLogin">Booking history</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" routerLink="/customer/my-profile" *ngIf="isLogin">My Profile</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" routerLink="/login" *ngIf="!isLogin">Login</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" *ngIf="isLogin" (click)="logout()">Logout</a>
					</li>
				</ul>

			</div>
		</div>






































	</nav>
	<!--//nav-->
</header>
<!-- //w3l-header -->